.hero2 {
  width: 100%;
  height: 500px;
  background: #000;
  color: #fff;
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0.8),
      rgb(255 255 255 / 0)
    ),
    url(../img/hero3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position-y: 110%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .herosado2 {
    animation: slideRight 2s ease;
    h1 {
      font-family: var(--font-titulos2);
      font-size: clamp(40px, 10vw, 60px);
      font-weight: 300;
    }
    p {
      font-family: var(--font-subtitulos);
      font-size: clamp(20px, 5vw, 30px);
      font-weight: 300;
    }
  }
  @media screen and (max-width: 900px) {
    & {
      height: 450px;
    }
  }

  @media screen and (max-width: 500px) {
    & {
      height: 250px;
      background-size: cover;
      background-attachment: scroll;
    }
  }
}

.nosotros {
  padding: 80px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;

  .titlesomos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 800px;
    height: 400px;
    animation: slideLeft2 1s ease;

    h3 {
      font-family: var(--font-titulos2);
      font-size: 40px;
      margin-bottom: 40px;
      span {
        color: var(--color-primario);
      }
    }
    p {
      font-family: var(--font-descripcion);
      font-size: clamp(14px, 2vw, 16px);
      line-height: 25px;
      span {
        font-weight: bold;
      }
    }
  }

  .fotosado {
    width: 450px;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    animation: slideRight2 1s ease;

    img {
      width: 100%;
    }
  }
  @media screen and (max-width: 1000px) {
    & {
      .titlesomos {
        height: auto;
        h3 {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 880px) {
    & {
      padding: 50px;
      .titlesomos {
        text-align: justify;
        align-items: center;
      }
      .fotosado {
        height: 250px;
      }
    }
  }
}

.card3 {
  padding-bottom: 70px;
  .gridcard3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    .cardhumor {
      width: 150px;
      height: 150px;
      background: var(--color-primario);
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      transition: 0.2s ease-in all;
      &:hover {
        transform: scale(1.05);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }
    }
  }

  /*forma1*/
  /* @media screen and (max-width: 500px) {
    & {
      padding-bottom: 40px;
      .gridcard3 {
        padding-left: 40px;
        padding-right: 40px;
        flex-direction: column;
        gap: 10px;
        .cardhumor {
          width: 100%;
          height: 70px;
          border-radius: 15px;
          img {
            object-fit: contain;
          }
        }
      }
    }
  } */

  /*forma2*/
  @media screen and (max-width: 500px) {
    & {
      padding-bottom: 40px;
      .gridcard3 {
        padding-left: 40px;
        padding-right: 40px;
        flex-wrap: nowrap;
        gap: 10px;
        .cardhumor {
          width: 100px;
          height: 100px;
          border-radius: 15px;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
